@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");

/* body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
} */

section.login {
    background: #002a48;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
}

.login-box {
    background-color: #fff;
    border-radius: 12px;
    max-width: 950px;
    margin: auto !important;
    box-shadow: 4px 0px 12px 4px #ffffff26;
}
.login-image {
    background-image: url("../images/loginbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #7bc7c5;
    border-radius: 12px;
}
.login-banner {
    width: 100%;
    border-radius: 12px;
}
.logo {
    border-radius: 10px;
    margin-bottom: 17px;
}
.welcome-text {
    color: #002a48;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-box {
    padding: 40px 50px;
}
.form-inputs {
    text-align: left;
    position: relative;
}

.form-inputs i.bi {
    position: absolute;
    left: 12px;
    bottom: 8px;
    color: #002a48;
}
label.form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 400;
}
.form-inputs .form-control {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    border-radius: 37px;
}
.login-box .form-inputs .form-control, .pay-login .form-inputs .form-control{
    padding-left: 35px !important;

}
select.form-select {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    border-radius: 37px;
}
.form-check-input:checked {
    background-color: #002a48;
    border-color: #002a48;
}
.form-check {
    text-align: left;
}
.reset {
    display: flex;
    justify-content: space-between;
}
.reset-text {
    color: #002a48 !important;
}
button.btn {
    background-color: #002a48;
    color: #fff;
    border-radius: 37px;
    padding: 7px 30px;
    width: 100%;
    font-weight: 500;
}
.login-btn {
    margin-top: 20px;
}
.btn:hover,
.btn:active {
    color: #000 !important;
    background-color: #d3eaff !important;
    border-color: #d3eaff !important;
}
.signup-text {
    margin-top: 20px;
    text-align: left;
}
span.signup-link {
    color: #002a48;
    text-decoration: underline;
}

/* Otp screen */

.otp-screen {
    background: #002a48;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.otp-box {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    min-width: 350px;
    border-radius: 12px;
    padding: 40px 40px;
    background-color: #fff;
    box-shadow: 4px 0px 12px 4px #ffffff26;
    margin: auto !important;
}
.otp-image {
    width: 127px !important;
    margin-bottom: 25px;
}
.otp-inputs {
    margin-bottom: 30px;
}
.otp-inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    margin: 0 10px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
}

.otp-inputs input:focus {
    border: 1px solid #002a48;
    outline: none;
}

#show_password,
#c_show_password,
#hide_password,
#c_hide_password {
    cursor: pointer;
}

/* header */
.navbar-nav li.nav-item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}
.navbar-nav li.nav-item a {
    display: block;
    color: #2f2f3b;
    line-height: 23px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 10px;
    letter-spacing: 0.04em;
    position: relative;
    border-radius: 5px;
    font-weight: 500;
}
.navbar-nav li.nav-item a:hover,
.navbar-nav li.nav-item a:active {
    color: #002a48;
    text-decoration: underline;
}
.navbar-nav li .submenu {
    position: fixed;
    z-index: 4;
    box-shadow: 0 0 1px 0 #898989;
    padding: 15px 0px 15px 0px;
    background: #002a48;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.navbar-nav li:hover .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 12px;
    transition: all 0.5s ease;
}
.navbar-nav li .submenu li {
    border: 0;
    float: none;
    position: relative;
    display: block;
}
.navbar-nav li .submenu li a:hover {
    color: #002a48;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;
    background-color: #7bc7c5;
    text-decoration: none;
}
.navbar-nav li .submenu li a {
    background: transparent;
    padding: 4px 30px;
    display: block;
    transition: all 0.5s ease;
    line-height: 1.9;
    color: #fff;
    letter-spacing: 0.06em;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar-nav li .submenu li a:after {
    position: absolute;
    content: "";
    top: 49%;
    width: 5px;
    height: 1px;
    border-radius: 100%;
    background-color: #fff;
    left: 20px;
}
.navbar-nav li .submenu li a:hover:after {
    background-color: #002a48;
}

/* payout model */

.payout-model .modal-header {
    border-bottom: none;
    padding: 30px 30px 0px;
}
.payout-model .modal-footer {
    border: none;
    padding: 0px 30px 30px;
    justify-content: left;
}
.payout-model .modal-body {
    padding: 5px 25px;
}
.payout-model .form-check-label {
    margin-top: 1px;
    margin-left: 8px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.payout-model .form-inputs .form-control {
    padding-left: 12px;
}
.check-box {
    justify-content: space-between;
    display: flex;
}
input[type="checkbox"] {
    display: grid;
    place-content: center;
    border: 2px solid #002a48;
}
.payout-model input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
button.btn-close {
    border: 1px solid #000;
    border-radius: 37px;
}
.payout-model button.btn {
    width: fit-content;
    margin-right: 7px;
    margin-left: 7px;
}

/* payout page */
.payout-box {
    border-radius: 15px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    background: #fff;
    padding: 30px;
    margin: auto;
}
.table tr td {
    padding: 11px 10px !important;
    font-size: 15px;
    background: #fff !important;
    box-shadow: none !important;
}
.table tr th {
    padding: 11px 10px;
}
.verify-icon {
    font-size: 17px;
    color: #002a48;
    margin-right: 8px;
}
.btn-reject {
    color: #f00;
    border-radius: 37px;
    padding: 4px 10px;
    font-weight: 400;
    border: 1px solid;
    font-size: 14px;
    background: #fff;
}
.btn-reject .bi {
    margin-right: 5px;
}
.btn-pay {
    color: #198754;
    border-radius: 37px;
    padding: 4px 10px;
    font-weight: 400;
    border: 1px solid;
    font-size: 14px;
    background: #fff;
}
.btn-pay .bi {
    margin-right: 5px;
}
.print-btn {
    color: #002a48;
    font-weight: 400;
    border: none;
    font-size: 17px;
    background: #fff;
}
.print-btn .bi {
    margin-right: 5px;
}
.print_table {
    border: 1px solid gray;
}
@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}
/* Export Buttons */
.export_btn {
    font-size: 14px !important;
    background: #d3eaff !important;
    color: #002a48 !important;
    padding: 4px 16px !important;
    border: none !important;
    border-radius: 14px !important;
    font-weight: 400 !important;
}
.export-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}
.export-buttons .btn {
    width: fit-content;
    font-size: 14px;
    padding: 4px 16px;
    font-weight: 400;
    color: #002a48;
    background: #d3eaff;
}
.export-buttons .btn .bi {
    margin-right: 5px;
}
input[type="date"] {
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #002a48;
    border-radius: 37px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    width: -webkit-fill-available;
}
.report-form {
    margin-bottom: 30px;
    float: right;
    display: flex;
    column-gap: 12px;
}
input,
input[type="search"] {
    padding: 5px 10px !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #002a48 !important;
    border-radius: 37px !important;
    border: 1px solid #7bc7c5 !important;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    width: auto;
}
div#report_data_filter {
    margin-bottom: 25px;
}
div#report_data_info {
    margin-top: 20px;
    padding-top: 0;
}
div#report_data_paginate {
    margin-top: 20px;
}
a.paginate_button.current {
    color: #002a48 !important;
    background: #d3eaff !important;
    border-radius: 50% !important;
    border: 1px solid #002a48 !important;
}
/* a.paginate_button {
    color: #fff !important;
    background: #002a48 !important;
    border-radius: 50% !important;
    border: 1px solid #002a48 !important;
} */

/* Dashboard css */
.shop-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.shop-details h3 {
    margin-bottom: 0;
}
.shop-details .btn {
    width: fit-content;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #002a48;
    outline: 1px solid #002a48;
    border-radius: 12px;
}
.service-box {
    border-radius: 15px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    background: #fff;
    padding: 20px 20px 15px;
    margin: auto;
    color: #000;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #002a48;
}
.services {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.service-box .bi {
    float: right;
    font-size: 25px;
}
.service-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #002a48;
    color: #fff;
    margin: -20px;
    border-radius: 12px 11px 0px 0px;
    margin-bottom: 0;
    padding: 5px 20px;
}
.service-title h5 {
    margin-bottom: 0px;
}
.table-responsive::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
.wallet-amout {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-right: 20px;
}
.wallet {
    border: 3px solid #d3eaff;
    padding: 6px;
    border-radius: 37px;
    box-shadow: 0px 0px 10px 1px #d3eaff;
}
.wallet-amout img {
    width: 24px;
}
.wallet-amout p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}
a.nav-link.active {
    text-decoration: underline !important;
}

/* Loder style */
.loader-section {
    background-color: #002a48;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
}
.payment-loader {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.payment-loader .binding {
    content: "";
    width: 60px;
    height: 4px;
    border: 2px solid #fff;
    margin: 0 auto;
}

.payment-loader .pad {
    width: 76px;
    height: 51px;
    border-radius: 8px;
    border: 2px solid #fff;
    padding: 6px;
    margin: 0 auto;
}

.payment-loader .chip {
    width: 12px;
    height: 8px;
    background: #fff;
    border-radius: 3px;
    margin-top: 4px;
    margin-left: 3px;
}

.payment-loader .line {
    width: 52px;
    margin-top: 6px;
    margin-left: 3px;
    height: 4px;
    background: #fff;
    border-radius: 100px;
    opacity: 0;
    -webkit-animation: writeline 3s infinite ease-in;
    -moz-animation: writeline 3s infinite ease-in;
    -o-animation: writeline 3s infinite ease-in;
    animation: writeline 3s infinite ease-in;
}

.payment-loader .line2 {
    width: 32px;
    margin-top: 6px;
    margin-left: 3px;
    height: 4px;
    background: #fff;
    border-radius: 100px;
    opacity: 0;
    -webkit-animation: writeline2 3s infinite ease-in;
    -moz-animation: writeline2 3s infinite ease-in;
    -o-animation: writeline2 3s infinite ease-in;
    animation: writeline2 3s infinite ease-in;
}

.payment-loader .line:first-child {
    margin-top: 0;
}

.payment-loader .line.line1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.payment-loader .line.line2 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.payment-loader .loader-text {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: bold;
}

@keyframes writeline {
    0% {
        width: 0px;
        opacity: 0;
    }
    33% {
        width: 52px;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes writeline2 {
    0% {
        width: 0px;
        opacity: 0;
    }
    33% {
        width: 32px;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* dashboard */
.amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
    margin-top: 10px;
    padding-top: 12px;
}
.amount p {
    margin-bottom: 0px;
}
.status-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 5px 20px;
    background: #002a48;
    color: #fff;
}
.status-title h5 {
    margin-bottom: 0;
}
.status-title p {
    margin-bottom: 0;
}
.icon-box {
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.icon-box img {
    width: 35px;
}
.icon-box img {
    width: 39px;
    border: 2px solid #002a48;
    padding: 4px;
    border-radius: 37px;
    /* box-shadow: 0px 0px 10px 1px #d3eaff; */
}
.currency p {
    margin-bottom: 10px;
}
.icon-box.green p {
    color: #198754;
    font-weight: 600;
}
.icon-box.green img {
    border: 2px solid #198754;
}
.icon-box.yellow p {
    color: #f29339;
    font-weight: 600;
}
.icon-box.yellow img {
    border: 2px solid #f29339;
}
.icon-box.red p {
    color: #ff0000;
    font-weight: 600;
}
.icon-box.red img {
    border: 2px solid #ff0000;
}
.currency p:nth-child(1) {
    font-weight: 600;
}
ul.dropdown-menu.show {
    box-shadow: 0 0 1px 0 #898989;
    padding: 15px 0px;
    background: #002a48;
    border: none;
}
.dropdown-menu li {
    padding: 2px 0px;
    display: block;
    transition: all 0.5s ease;
    line-height: 1.9;
    color: #fff;
    letter-spacing: 0.06em;
    transition: all 0.3s ease;
    text-align: center;
}
.dropdown-menu li.logout {
    padding: 4px 30px;
}
.dropdown-menu li.logout .dropdown-item {
    border: 1px solid;
    border-radius: 37px;
}
.dropdown-menu p {
    padding: 2px 30px;
    display: block;
    transition: all 0.5s ease;
    line-height: 1.9;
    color: #fff;
    letter-spacing: 0.06em;
    font-weight: 500;
    transition: all 0.3s ease;
    margin-bottom: 0;
}
a.dropdown-item {
    padding: 4px 30px;
    display: block;
    transition: all 0.5s ease;
    line-height: 1.9;
    color: #fff;
    letter-spacing: 0.06em;
    transition: all 0.3s ease;
}
a.dropdown-item:hover {
    color: #002a48;
    transition: all 0.3s ease;
    background-color: #7bc7c5;
    text-decoration: none;
    border-radius: 0px;
}
.dropdown-menu hr {
    border-color: #fff;
}
.username {
    position: relative;
}
.username .bi {
    position: absolute;
    font-size: 49px;
    top: -35px;
    color: lime;
    margin-left: -13px;
}
.welcome-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome-box button.btn {
    width: fit-content;
}
.kyc-info input {
    margin-bottom: 12px;
    margin-right: 10px;
    max-width: 200px;
    width: 100%;
}
.kyc-info input.btn {
    background-color: #002a48;
    color: #fff !important;
    border-radius: 37px;
}
.kyc-info input.btn:hover,
.kyc-info input.btn:active {
    color: #002a48 !important;
}
/* .row.payout-box.profile-box {
    max-width: 900px;
} */
.profile-bar {
    border: 1px solid #f7f6f6;
    border-left: 4px solid #d3eaff;
    padding: 12px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 13px rgb(46 35 94 / 9%);
    border-radius: 8px;
}
.profile-bar p:nth-child(1) {
    font-weight: 600;
    color: #002a48;
}
.profile-bar p {
    margin-bottom: 10px;
}
.profile-box h4 {
    margin-bottom: 30px;
}
.profile-box h5 {
    margin: 10px 0px;
}
.payout-box.contact h4 {
    margin-bottom: 25px;
}
.payout-box.contact .bi {
    font-size: 23px;
    color: #002a48;
    margin-right: 15px;
}
.payout-box.contact p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}
.payout-box.contact .d-flex {
    margin-bottom: 13px;
}
.kyc-info.settings input {
    margin-bottom: 16px;
    margin-right: 0;
    max-width: unset;
    width: 100%;
    padding: 7px 10px !important;
}
.kyc-info.settings h5 {
    margin-bottom: 25px;
}
.settings .payout-box.contact {
    border: 1px solid #e9e7e7;
}
.settings {
    max-width: 800px;
}
.btn-logout {
    background-color: red !important;
    color: #fff !important;
    margin-bottom: 20px;
}
.btn-logout .bi {
    color: unset !important;
    font-size: unset !important;
}
.kyc-info.settings .logut-report input {
    width: auto !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
    padding: 7px 3px !important;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em !important;
    padding: 0 !important;
}
.transaction-modal .profile-bar {
    margin-bottom: 20px;
    padding: 10px;
}
.transaction-modal .profile-bar p {
    margin-bottom: 8px;
}
.transaction-modal input.form-check-input {
    padding: unset !important;
}
.transaction-modal label.form-check-label {
    font-size: unset;
    margin-left: 5px;
}
.confirm-modal label.form-label {
    color: #2e52ff;
    font-weight: 600;
}
.confirm-modal button.btn.btn-secondary.cancel-btn {
    width: 100%;
    margin-top: 15px;
    background-color: #fb3535;
    border-color: red;
}
.dataTables_wrapper .dataTables_length select {
    border: 2px solid #002a48 !important;
    border-radius: 37px !important;
}
.print-page{
    max-width: 650px;
    margin: auto;
    padding: 20px 30px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    position: relative;
}
.print-page table tr {
    border-radius: 10px;
    color: #000000;
    /* background: #d3eaff; */
}
.print-page table {
    border-collapse: separate;
    border-spacing: 0 2px;
    border: none;
    margin: auto;
    /* background-image: url(../images/checked-1.png);
    background-repeat: no-repeat;
    background-position: 78% 81%; */
}
.printbg-img{
    position: absolute;
    bottom: 15%;
    right: 21%;
}
.print-page table th, .print-page table td {
    border: none;
    padding: 7px 10px;
    border-radius: 1px;
    border: 1px solid #002a48;
}
/* .print-page table th {
    border-right: 2px solid #ffffff;
} */