@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");

/* body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
} */

section.login {
    background: #002a48;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
}

.login-box {
    background-color: #fff;
    border-radius: 12px;
    max-width: 950px;
    margin: auto !important;
    box-shadow: 4px 0px 12px 4px #ffffff26;
}
.login-image {
    background-image: url("../images/loginbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #7bc7c5;
    border-radius: 12px;
}
.login-banner {
    width: 100%;
    border-radius: 12px;
}
.logo {
    border-radius: 10px;
    margin-bottom: 17px;
}
.welcome-text {
    color: #002a48;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-box {
    padding: 40px 50px;
}
.form-inputs {
    text-align: left;
    position: relative;
}
.form-inputs .form-control {
    padding-left: 30px;
}
.form-inputs i.bi {
    position: absolute;
    left: 12px;
    bottom: 8px;
    color: #002a48;
}
label.form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 400;
}
.form-inputs .form-control {
    padding-left: 35px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    border-radius: 37px;
}
select.form-select {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    border-radius: 37px;
}
.form-check-input:checked {
    background-color: #002a48;
    border-color: #002a48;
}
.form-check {
    text-align: left;
}
.reset {
    display: flex;
    justify-content: space-between;
}
.reset-text {
    color: #002a48 !important;
}
button.btn {
    background-color: #002a48;
    color: #fff;
    border-radius: 37px;
    padding: 7px 30px;
    width: 100%;
    font-weight: 500;
}
.login-btn {
    margin-top: 20px;
}
.btn:hover,
.btn:active {
    color: #000 !important;
    background-color: #d3eaff !important;
    border-color: #d3eaff !important;
}
.signup-text {
    margin-top: 20px;
    text-align: left;
}
span.signup-link {
    color: #002a48;
    text-decoration: underline;
}

/* Otp screen */

.otp-screen {
    background: #002a48;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.otp-box {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    min-width: 350px;
    border-radius: 12px;
    padding: 40px 40px;
    background-color: #fff;
    box-shadow: 4px 0px 12px 4px #ffffff26;
    margin: auto !important;
}
.otp-image {
    width: 127px !important;
    margin-bottom: 25px;
}
.otp-inputs {
    margin-bottom: 30px;
}
.otp-inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    margin: 0 10px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
}

.otp-inputs input:focus {
    border: 1px solid #002a48;
    outline: none;
}

#show_password,
#c_show_password,
#hide_password,
#c_hide_password {
    cursor: pointer;
}

/* header */
.navbar-nav li.nav-item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}
.navbar-nav li.nav-item a {
    display: block;
    color: #2f2f3b;
    line-height: 23px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 10px;
    letter-spacing: 0.04em;
    position: relative;
    border-radius: 5px;
    font-weight: 500;
}
.navbar-nav li.nav-item a:hover,
.navbar-nav li.nav-item a:active {
    color: #002a48;
    text-decoration: underline;
}
.navbar-nav li .submenu {
    position: fixed;
    z-index: 4;
    box-shadow: 0 0 1px 0 #898989;
    padding: 15px 0px 15px 0px;
    background: #002a48;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.navbar-nav li:hover .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 12px;
    transition: all 0.5s ease;
}
.navbar-nav li .submenu li {
    border: 0;
    float: none;
    position: relative;
    display: block;
}
.navbar-nav li .submenu li a:hover {
    color: #002a48;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;
    background-color: #7bc7c5;
    text-decoration: none;
}
.navbar-nav li .submenu li a {
    background: transparent;
    padding: 4px 30px;
    display: block;
    transition: all 0.5s ease;
    line-height: 1.9;
    color: #fff;
    letter-spacing: 0.06em;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar-nav li .submenu li a:after {
    position: absolute;
    content: "";
    top: 49%;
    width: 5px;
    height: 1px;
    border-radius: 100%;
    background-color: #fff;
    left: 20px;
}
.navbar-nav li .submenu li a:hover:after {
    background-color: #002a48;
}

/* payout model */

.payout-model .modal-header {
    border-bottom: none;
    padding: 30px 30px 0px;
}
.payout-model .modal-footer {
    border: none;
    padding: 0px 30px 30px;
    justify-content: left;
}
.payout-model .modal-body {
    padding: 5px 25px;
}
.payout-model .form-check-label {
    margin-top: 1px;
    margin-left: 8px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.payout-model .form-inputs .form-control {
    padding-left: 12px;
}
.check-box {
    justify-content: space-between;
    display: flex;
}
input[type="checkbox"] {
    display: grid;
    place-content: center;
    border: 2px solid #002a48;
}
.payout-model input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
button.btn-close {
    border: 1px solid #000;
    border-radius: 37px;
}
.payout-model button.btn {
    width: fit-content;
    margin-right: 7px;
    margin-left: 7px;
}

/* payout page */
.payout-box {
    border-radius: 15px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    background: #fff;
    padding: 35px 35px;
    margin: auto;
}
.table tr td {
    padding: 11px 10px !important;
    font-size: 15px;
    background: #fff !important;
    box-shadow: none !important;
}
.table tr th {
    padding: 11px 10px;
}
.verify-icon {
    font-size: 17px;
    color: #002a48;
    margin-right: 8px;
}
.btn-reject {
    color: #f00;
    border-radius: 37px;
    padding: 4px 10px;
    font-weight: 400;
    border: 1px solid;
    font-size: 14px;
    background: #fff;
}
.btn-reject .bi {
    margin-right: 5px;
}
.btn-pay {
    color: #198754;
    border-radius: 37px;
    padding: 4px 10px;
    font-weight: 400;
    border: 1px solid;
    font-size: 14px;
    background: #fff;
}
.btn-pay .bi {
    margin-right: 5px;
}
.print-btn {
    color: #002a48;
    font-weight: 400;
    border: none;
    font-size: 17px;
    background: #fff;
}
.print-btn .bi {
    margin-right: 5px;
}
/* Export Buttons */
.export-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}
.export-buttons .btn {
    width: fit-content;
    font-size: 14px;
    padding: 4px 16px;
    font-weight: 400;
    color: #002a48;
    background: #d3eaff;
}
.export-buttons .btn .bi {
    margin-right: 5px;
}
input[type="date"] {
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #002a48;
    border-radius: 37px;
    border: 1px solid #7bc7c5;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    width: -webkit-fill-available;
}
.report-form {
    margin-bottom: 30px;
    float: right;
    display: flex;
    column-gap: 12px;
}
input[type="search"]{
    padding: 5px 10px !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #002a48 !important;
    border-radius: 37px !important;
    border: 1px solid #7bc7c5 !important;
    box-shadow: 1px 1px 6px 0px #7bc7c538;
    width: auto;
}
div#report_data_filter {
    margin-bottom: 25px;
}
div#report_data_info {
    margin-top: 20px;
    padding-top: 0;
}
div#report_data_paginate {
    margin-top: 20px;
}
a.paginate_button.current {
    color: #002a48 !important;
    background: #d3eaff !important;
    border-radius: 50% !important;
    border: 1px solid #002a48 !important;
}
/* a.paginate_button {
    color: #fff !important;
    background: #002a48 !important;
    border-radius: 50% !important;
    border: 1px solid #002a48 !important;
} */